/*
 * Layout
 * ------------------------------------------------------------- */

.try__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 3em;
	padding: var(--between) 0;
}


.try__nuclear {
    display: flex;
    justify-content: flex-end;
    margin-top: 4em;
}

.try__nuclear > * {
    margin-left: 2em;
}
        








