/**
 * ------------------------------------------------------------- 
 * Typography
 * ------------------------------------------------------------- */

* {
	-webkit-hyphens: none;
	-moz-hyphens: none !important;
	hyphens: none;
}



h3 {
    @include font-size(16);
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 18px;
    padding-bottom: calc(var(--base) / 4);
}


.try__text p {
    font-family: 'Kip';
    font-weight: 400;
    font-style: normal;
    @include font-size(72);
    line-height: 1.2;
    letter-spacing: 0;
    text-align: left;
}
